body.dark-mode {
  background-color: #383544;
  color: white;
}

body.dark-mode .sideBar {
  background-color: #484554;
  border-right: none;
}

body.dark-mode .sideBarMobile {
  background-color: #484554;
}

body.dark-mode #sidebarMobile {
  display: none;
  margin-top: 72px;
}

body.dark-mode .header {
  background-color: #484554;
  border: none;
}

body.dark-mode .menuIcon img {
  content: url("/images/solar_hamburger-menu-broken-white.png");
}

body.dark-mode .menuIcon.active img {
  content: url("/images/close.png");
}

body.dark-mode .navBar {
  background-color: #383544;
  border-top: 1px solid #ada9bb;
}

body.dark-mode .navBarFirstItemMobile img {
  content: url("/images/home.png");
}

body.dark-mode .navBarFirstItemMobile span {
  color: #8576ff;
}

body.dark-mode .navBarFirstItem span {
  color: #fcf7ff;
}

body.dark-mode .navBarItem span {
  color: #fcf7ff;
}

body.dark-mode .eventMobile img {
  content: url("/images/solar_calendar-linear-mobile-white.png");
}

body.dark-mode .speakerMobile img {
  content: url("/images/solar_user-speak-rounded-linear-mobile-white.png");
}

body.dark-mode .reportMobile img {
  content: url("/images/solar_document-linear-mobile-white.png");
}

body.dark-mode .navBarItemProfile img {
  content: url("/images/user-circle-mobile-white.png");
}

body.dark-mode .navBarItemProfile span {
  color: #fcf7ff;
}

body.dark-mode .sideBarFirstItem span {
  color: #ffffff;
}

body.dark-mode .sideBarFirstItem {
  background-color: #8576ff;
  color: #ffffff;
}

body.dark-mode #homeIcon {
  content: url("/images/home-white.png");
}

body.dark-mode .sideBarItem:hover {
  background-color: #8576ff;
}

body.dark-mode .sideBarFirstItem {
  background-color: #8576ff;
}

body.dark-mode .sideBarItem span {
  color: #ffffff;
}

body.dark-mode .notify:hover {
  background-color: #8576ff;
}

body.dark-mode .notify span {
  color: #ffffff;
}

body.dark-mode .darkMode:hover {
  background-color: #8576ff;
}

body.dark-mode .toggle-container {
  color: #ffffff;
}

body.dark-mode .profile:hover {
  background-color: #8576ff;
}

body.dark-mode .profile span {
  color: #ffffff;
}

body.dark-mode .profile p {
  color: #ffffff;
}

body.dark-mode main {
  scrollbar-color: #484554 transparent;
}

body.dark-mode .card {
  background-color: #484554;
  border: none;
}

body.dark-mode .cardTitle h4 {
  color: #ffffff;
}

body.dark-mode #infoIcon {
  content: url("/images/information-white.png");
}

body.dark-mode .cardText span {
  color: #ffffff;
}

body.dark-mode .chart {
  background-color: #484554;
  border: none;
}

body.dark-mode .search {
  background-color: #484554;
  border: none;
}

body.dark-mode .search input {
  background-color: #484554;
  color: #ffffff;
}

body.dark-mode .filter {
  background-color: #484554;
  border: none;
}

body.dark-mode .filter p {
  color: #fcf7ff;
}

body.dark-mode .filter img {
  content: url("/images/chevron-down-white.png");
}

body.dark-mode .display h5 {
  color: #ffffff;
}

body.dark-mode .sort h5 {
  color: #ffffff;
}

body.dark-mode .dot-vertical {
  background-color: #484554;
  border: none;
}

body.dark-mode .dot-vertical img {
  content: url("/images/dots-vertical-white.png");
}

body.dark-mode .export {
  background-color: #484554;
  border: none;
}

body.dark-mode .export p {
  color: #ffffff;
}

body.dark-mode .export img {
  content: url("/images/download-white.png");
}

body.dark-mode .tableHead {
  background-color: #6a6676;
}

body.dark-mode .tableHead th {
  color: #ffffff;
}

body.dark-mode .tableBody {
  background-color: #484554;
}

body.dark-mode .tableBody td {
  color: #ffffff;
}

body.dark-mode .event-item:hover {
  background-color: #6a667675;
}

body.dark-mode .in-progress {
  border: 1px solid #77b1ff;
  background-color: transparent;
}

body.dark-mode .completed {
  border: 1px solid #65ddb5;
  background-color: transparent;
}

body.dark-mode .show-text h5 {
  color: #ffffff;
}

body.dark-mode .page {
  color: #ffffff;
}

body.dark-mode .prev {
  background-color: #484554;
}

body.dark-mode .prev img {
  content: url("/images/chevron-left-white.png");
}

body.dark-mode .next {
  background-color: #484554;
  border: none;
}

body.dark-mode .next img {
  content: url("/images/chevron-right-white.png");
}

body.dark-mode .event {
  background-color: #484554;
  color: #fcf7ff;
}

body.dark-mode .event h4 {
  color: #fcf7ff;
}

body.dark-mode .close {
  background-color: #ada9bb;
  border: 1px solid #484554;
}

body.dark-mode .event p {
  color: #fcf7ff;
}

body.dark-mode .event span {
  color: #fcf7ff;
}

body.dark-mode .avatarImg {
  border: 2px solid #484554;
}

body.dark-mode .allBtn {
  background-color: #ada9bb;
}

body.dark-mode .eventTitle {
  background-color: #6a6676;
}

body.dark-mode .eventTitle h5 {
  color: #fcf7ff;
}

body.dark-mode .eventNameCon {
  background-color: #484554;
}

body.dark-mode .eventNameCon.active {
  background-color: #514e5d;
  border: none;
}

body.dark-mode .eventName span {
  color: #fcf7ff;
}

body.dark-mode .eventName img {
  content: url("/images/chevron-right-mobile-white.png");
}

body.dark-mode .eventNameCon.active img {
  content: url("/images/chevron-down-mobile-white.png");
}

body.dark-mode .eventSpeakerCon {
  background-color: #383544;
  border: none;
  padding: 14px 12px;
}

body.dark-mode .eventSpeaker img {
  content: url("");
}

body.dark-mode .eventSpeaker p {
  color: #fcf7ff;
}

body.dark-mode .eventSpeakerCon span {
  color: #fcf7ff;
}
