@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 30px 70px 20px 20px;
  height: 100vh;
  overflow-y: auto;
}

/* Card Section */
.title h1 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 2px;
  padding: 16px;
  border: 1px solid #f2f2f7;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  transform: scale(1.05);
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardTitle h4 {
  font-size: 14px;
  color: #64748b;
}

body.dark-mode #infoIcon {
  content: url("/images/information.png");
}

.cardText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardText span {
  font-size: 20px;
  font-weight: 600;
  color: #334155;
}

.ratings-up {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 10px;
  color: #10b981;
  font-weight: 600;
}

.ratings-down {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 10px;
  color: #f43f5e;
  font-weight: 600;
}

/* Event Registration */
.eventRegisterTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.eventRegisterTitle h3 {
  font-size: 18px;
  font-weight: 500;
}

.eventRegister {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 330px;
}

.chart {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #f2f2f7;
}

.imageSlider {
  background-image: url("/images/Slide-female.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.newsUpdate h5 {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
}

.newsUpdate p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.dottedDash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
}

.dot {
  width: 12px;
  height: 3px;
  background-color: #ffffff50;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ffffff !important;
}

/* Events History */
.eventHistory {
  margin-top: 20px;
  margin-bottom: 10px;
}

.eventHistory h3 {
  font-size: 18px;
  font-weight: 500;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchCon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search {
  display: flex;
  align-items: center;
  gap: 7px;
  border: 1px solid #e2e8f0;
  padding: 7px 8px;
  border-radius: 2px;
  color: #334155;
}

.search input {
  border: none;
  color: #334155;
  font-family: "Inter", sans-serif;
}

.search input::placeholder {
  color: #cbd5e1;
}

.search input:focus {
  outline: none;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #e2e8f0;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.filter p {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}

.display h5 {
  color: #334155;
  font-weight: 600;
  font-size: 14px;
}

.sortCon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sort h5 {
  color: #334155;
}

.dot-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e8f0;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.export {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #e2e8f0;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.export p {
  font-size: 14px;
  font-weight: 400;
  color: #334155;
}

.eventTable {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  text-align: left;
  background-color: #f1f5f9;
  border-collapse: collapse;
}

.tableHead th {
  padding: 13px 10px;
  color: #64748b;
  font-size: 12px;
  font-weight: 600;
  border: none;
}

.tableBody td {
  padding: 10px;
  color: #334155;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.event-item:hover {
  cursor: pointer;
  background-color: #f1f5f97c;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  width: 105px;
}

.completed {
  background-color: #d1fae5;
  color: #10b981;
}

.completed .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #10b981;
}

.in-progress {
  background-color: #dbeafe;
  color: #3b82f6;
}

.in-progress .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3b82f6;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pageNumber {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prev {
  padding: 6px 8px;
  background-color: #e2e8f0;
  border-radius: 2px;
  cursor: pointer;
}

.first-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #8576ff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: #334155;
  font-size: 14px;
  cursor: pointer;
}

.next {
  padding: 6px 8px;
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  cursor: pointer;
}

.show {
  display: flex;
  align-items: center;
  gap: 8px;
}

.show-text h5 {
  color: #334155;
  font-weight: 400;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal > div {
  background-color: white;
  border-radius: 2px;
  width: 440px;
  position: relative;
}

.event {
  padding: 20px;
}

.modal.show {
  display: flex;
}

.eventName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventName h4 {
  color: #334155;
  font-weight: 600;
  font-size: 18px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.date {
  color: #64748b;
  font-size: 14px;
}

.description {
  color: #334155;
  font-size: 14px;
  margin: 20px 0;
}

.avatarCon {
  display: flex;
  align-items: center;
  margin: 40px 0 45px 0;
  position: relative;
}

.avatarImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: transform 0.3s ease;
}

.avatarImg:nth-child(2) {
  left: 25px;
  z-index: 2;
}

.avatarImg:nth-child(3) {
  left: 50px;
  z-index: 1;
}

.avatarImg:hover {
  cursor: pointer;
  transform: scale(1.1); /* Enlarge on hover */
}

.speaker p {
  color: #334155;
  font-size: 14px;
}

.speaker span {
  color: #334155;
  font-size: 14px;
}

.allBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafc;
  padding: 20px;
}

.editBtn {
  border: 1px solid #e2e8f0;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  color: #334155;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 10px;
}

.deleteBtn {
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  background-color: #f43f5e;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.completeBtn {
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  background-color: #8576ff;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
